<header class="main-header">
  <div>
    <a routeLink="index.html" class="main-header__brand"> uHost </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a routeLink="packages/index.html">Packages</a>
      </li>
      <li class="main-nav__item">
        <a routeLink="customers/index.html">Customers</a>
      </li>
      <li class="main-nav__item main-nav__item--cta">
        <a routeLink="start-hosting/index.html">Start Hosting</a>
      </li>
    </ul>
  </nav>
</header>
