.section-title {
    color: #2ddf5c;
    text-align: center;
}
#key-features{
  background-color: #ff1b68;
  margin-top: 88px;
  padding:16px;
}

#key-features > .section-title{
  color: white;
  margin: 32px;
}

.key-feature__list {
  list-style: none;
  margin:0;
  padding:0;
  text-align: center;
}
.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.key-feature__image {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border:1px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
}
